<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<% include ../partials/nav %>
	<div class="wrapper">	<!-- set width=1000px -->
		<h1>The New Cookbook</h1>
		<div class="recipe-gallery">
			<div class="featured">
				<% featured.forEach(function(feature) { %>
					<a href="/recipes/<%-feature.recipeID%>"><%= feature.recipeName %></a>
					<img src=<%= feature.recipeImg %>>
				<% }); %>
			</div>
			<div class="gallery">
				<% recipes.forEach(function(recipe) { %>
					<a href="/recipes/<%-recipe.recipeID%>"><p><%= recipe.recipeName %></p></a>
				<% }); %>
			</div>
		</div>
	</div>
</body>
</html>