<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/nav.css" rel="stylesheet" type="text/css"/>
	<link href="/css/newindex.css" rel="stylesheet" type="text/css"/>
	<link href="/css/font-awesome.min.css" rel="stylesheet">

	<link href="/img/Favicon.png" rel="icon"/>
</head>

<body>
	<% include ../partials/nav %>
	<!-- Includes the top scrolling and 4 featured per category -->
	<div id="categories-and-recipes">
		<!-- Includes scrolling category -->
		<div id="top-scroll">
			<div id="left">
				<img src="/img/Left.png"/>
			</div>

			<div id="categories">
				<% categories.forEach(function(category) { %>
					<div class="category">
						<a href="#"><img src=<%= category.img %>></a>
						<h3><%= category.name %></h3>
						<img src="/img/Triangle.png">
					</div>
				<% }); %>
			</div>

			<div id="right">
				<img src="/img/Right.png"/>
			</div>
		</div>

		<div id="featured">
			<div id="featured-item">
				<a href="#"><img src="/img/recipes/ThaiBroccoliCoconutSoup/square.jpg"></a>
				<!-- <h1>Thai Broccoli Coconut Soup</h1> -->
				<!-- <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p> -->
			</div>
		</div>

		<div id="featured">
			<div id="featured-item">
				<a href="#"><img src="/img/recipes/ThaiBroccoliCoconutSoup/square.jpg"></a>
				<!-- <h1>Thai Broccoli Coconut Soup</h1> -->
				<!-- <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p> -->
			</div>
		</div>

		<div id="featured">
			<div id="featured-item">
				<a href="#"><img src="/img/recipes/ThaiBroccoliCoconutSoup/square.jpg"></a>
				<!-- <h1>Thai Broccoli Coconut Soup</h1> -->
				<!-- <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p> -->
			</div>
		</div>

		<div id="featured">
			<div id="featured-item">
				<a href="#"><img src="/img/recipes/ThaiBroccoliCoconutSoup/square.jpg"></a>
				<!-- <h1>Thai Broccoli Coconut Soup</h1> -->
				<!-- <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p> -->
			</div>
		</div>
	</div>

	<!-- Includes the alternating side recipes and the aside with tips and ads -->
	<div id="gallery-and-aside">
		<!-- Includes the alternating side recipes -->
		<div id="gallery">
			<% for (var i=0; i<gallery.length; i++) { %>
				<div class="gallery-item">
					<a href="#"><img src=<%= gallery[i].recipeImg %>></a>
					<div class="gallery-item-info">
						<h3><%= galleryTitles[i] %></h3>
						<h1><%= gallery[i].recipeName %></h1>
						<p><%= gallery[i].description %></p>
						<div>
							<img/>
							<h5><%= gallery[i].stepsCount %></h5>

							<img/>
							<h5><%= gallery[i].ingredientsCount %></h5>

							<img/>
							<h5><%= gallery[i].time %></h5>
						</div>
					</div>
				</div>
			<% } %>
		</div>

		<!-- Includes the tips and tricks, and possible ads -->
		<aside>
			<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.</p>
			<!-- Includes daily tips -->
			<div></div>

			<!-- Includes ads -->
			<div></div>
		</aside>
	</div>

</body>
</html>