<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/nav.css" rel="stylesheet" type="text/css"/>
	<link href="/css/index.css" rel="stylesheet" type="text/css"/>
	<link href="/css/font-awesome.min.css" rel="stylesheet">

	<link href="/img/Favicon.png" rel="icon"/>
</head>

<body>
	<% include ../partials/nav %>
	<!-- Includes the top scrolling and 4 featured per category -->
	<div>
		<!-- Includes scrolling category -->
		<div class="top-scroll">
			<img src="/img/Left.png"/>
			<% categories.forEach(function(category) { %>
				<div>
					<a href="#"><img src=<%= category.img %>></a>
					<h3><%= category.name %></h3>
				</div>
			<% }); %>
			<img src="/img/Right.png"/>
		</div>
	</div>

	<!-- Includes the alternating side recipes and the aside with tips and ads -->
	<div class="gallery">
		<!-- Includes the alternating side recipes -->
		<div>
			<% for (var i=0; i<gallery.length; i++) { %>
				<a href="#"><img src=<%= gallery[i].image %>></a>
				<h3><%= galleryTitles[i] %></h3>
				<h1><%= gallery[i].recipeName %></h1>
				<p><%= gallery[i].description %></p>
				<div>
					<img/>
					<h5><%= gallery[i].stepsCount %></h5>

					<img/>
					<h5><%= gallery[i].ingredientsCount %></h5>

					<img/>
					<h5><%= gallery[i].time %></h5>
				</div>
			<% } %>
		</div>

		<!-- Includes the tips and tricks, and possible ads -->
		<aside>
			<!-- Includes daily tips -->
			<div></div>

			<!-- Includes ads -->
			<div></div>
		</aside>
	</div>


	<% include ../partials/footer %>
</body>
</html>