<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/img/Logo.png" rel="icon"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/full-screen.js" type="text/javascript"></script>
</head>

<body ng-app="app">
	<div class="lightbox">
		<p class="lightbox-text">Click ESC to exit full screen.</p>
	</div>
	<% include ../partials/nav %>

	<div class="upper">	<!--Contains icon, title, rating, comments icon, prompt to serve #, dropdown serve #-->
		<img src="/img/Pie.png">
		<h1><%= recipeName %></h1>

		<div class="stars-and-comment">
			<p class="rating-bar"></p>
			<img src="/img/Stars.png">
			<img src="/img/Comment.png">
		</div>

		<div class="how-many-serve-div">
			<h3 class="how-many-serve-h3">How many people do you want to serve?</h3>
			<select class="how-many-serve-select">
				<% for(var i=0; i<=12; i++) { %>
					<option><%= i %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="full-width">
		<p id="full-screen">Full Screen</p>
	</div>

	<div class="gantt">			<!--Contains ingredients and Gantt chart-->
		<div class="ingredients">		<!--Ingredients list-->
			<h4>Ingredients</h4>
			<ul>	<!--Will eventually be node/angular for/repeat-->
				<% ingredients.forEach(function(ingredient) { %>
					<li class="ingredient"><strong><%= ingredient.quantity %></strong> <%= ingredient.item %></li>
				<% }); %>
			</ul>
		</div>
		<div class="chart">		<!--Gantt chart-->
			<div class="start-cooking-at">	<!--Starting cooking at...-->
				<h6>Start cooking at <span class="underline"><%= time %></span></h6>
				<button>Pause</button>
			</div>
			<div>	<!--Timeline-->
				<% steps.forEach(function(step) { %>
					<p class="step"><%= step.stepText %><br/><span class="step-duration"><%= step.stepDuration %></span></p>
				<% }); %>
				<p class="source"><%= source %></p>
			</div>
		</div>
	</div>

	<footer>
		<p>Camden Hill 2016</p>
	</footer>

</body>
</html>